- name: Install Jenkins
  hosts: jenkins
  become: true 
  roles:
    - role-jenkins
- name: install gitlab 
  hosts: gitlab
  become: true
  vars_files:
    - gitlab/vars/main.yml
  roles:
    - gitlab
  pre_tasks:
    - name: Update apt-get repo and cache
      apt: update_cache=yes force_apt_get=yes cache_valid_time=3600

